*{
    padding: 0;
    margin: 0;
    box-sizing: ;
}

.a{
    margin: 20px 100px;
}

ul{
    background-color: #000;
    color: #fff;
    padding: 20px;
}

img{
    width: 200px;
    height: 200px;
}
